<div class="background">
  <app-navigation></app-navigation>
    @if (currentItem){
        <div class="item-container">
            <div class="img-section">
                <img [src]="currentItem.image" alt="{{ currentItem.name }}">
        
            </div>
            <div class="information">
                <div class="info">
                    <h2>{{ currentItem.name }}</h2>
                    <p>Price: ${{ currentItem.price }}</p>
                    <p>Category: {{ currentItem.category }}</p>
                    <p>{{ currentItem.description }}</p>
                    @if (cartService.checkIfFurnitureIsAddedToCart(currentItem)) {
                      <button class="cart" (click)="deleteFromCart(currentItem)">Delete From Cart</button>
                    } @else {
                      <button class="cart" (click)="addToCart(currentItem)">Add To Cart</button>
                    }
                </div>
            </div>
        </div>
       
    }
</div>


  
