.background{
    background-color: #c5c3c3 ;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color:#313453;
    border-radius: 10px;


    ul {
      display: flex;
      gap: 80px;
      list-style: none;
      align-items: center;

      .web-name {
        padding-right: 200px;
        font-size: 30px;
      }

      li {
        a {
          text-decoration: none;
          color: white;
          font-weight: bold;


        }

        a:hover {
          color: white;
        }
      }
      .login-register{
        display: flex;
        margin-left: 100px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        gap: 20px;

      }
    }
} 
.item-container{
    display: flex;
    padding: 50px;
    padding-top: 150px;

    .img-section{
        width: 50%;
    
        img{
            width: 80%;
            border-radius: 30px;

        }
    }
    .information{
        padding: 30px;
        align-items: center;
        justify-content: center;
        color: black;
        padding-top: 150px;
        width: 50%;
        button {
            background-color:#313453;
            color: white;
            border: none;
            padding: 12px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            
            &:hover {
                background-color: #6e7085;
                transform: scale(1.05);
            }
        }
        h2{
            font-family: playfairdisplay;

        }
    }
}
