<header>
    <nav>
      <ul>
        <li><a routerLink = "/furnitures" class="web-name">DeHome</a></li>
        <div class="nav-links">
          <li><a routerLink = "/furnitures">Home</a></li>
          <li><a>About</a></li>
          <li><a routerLink="/cart">Cart</a></li>
        </div>
        <div class="login-register">
          <img (click)= "goToUserInfo()" src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" alt="">
          <img (click)="logout()" src="https://static-00.iconduck.com/assets.00/log-out-icon-2048x2048-cru8zabe.png" alt="">
        </div>

      </ul>
    </nav>
</header>
