<div class="background">
  <div class="imgcont">
    <img
      src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <header>
      <nav>
        <ul>
          <li><a href="#" class="web-name">DeHome</a></li>
          <li><a href="#" class="">Home</a></li>
          <li><a href="#" class="">Category</a></li>
          <li><a href="#" class="">About</a></li>
          <li><a routerLink="/cart">Cart</a></li>
          <div class="login-register"></div>
        </ul>
      </nav>
    </header>
    <h1>Design your dream home with the perfect furniture</h1>
  </div>
  <h1 class="headline">Discover Unparalleled Furniture Designs</h1>
  <div class="container">
    @for (furniture of furniture$ | async; track $index){
    <div (click)="viewItem(furniture.id ?? 0)" class="item">
      <img [src]="furniture.image" alt="{{ furniture.name }}" width="200" />
      <p class="name">{{ furniture.name }}</p>
      <div class="price-cart">
        <p class="price">Price: ${{ furniture.price }}</p>
        @if (cartService.checkIfFurnitureIsAddedToCart(furniture)) {
        <button
          class="cart"
          (click)="delete(furniture); $event.stopPropagation()"
        >
          Delete From Cart
        </button>
        } @else {
        <button
          class="cart"
          (click)="addToCart(furniture); $event.stopPropagation()"
        >
          Add To Cart
        </button>
        }
      </div>
    </div>
    }
  </div>
  <div class="imgcont2">
    <img
      src="https://images.unsplash.com/photo-1578500494198-246f612d3b3d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <h1>Design your dream home with the perfect furniture</h1>
  </div>
</div>
