<div class="wrapper">
    <form [formGroup] = "userForm">
        <h1>REGISTER</h1>
        <input 
         [ngClass]="{
            'input-error': usernameControl.touched && usernameControl.invalid
          }" formControlName = "username" type="text" id="username" placeholder="Username">
        @if(usernameControl.touched && usernameControl.hasError('required')){
            <app-error message = "This field is required"></app-error>
        } @else if (usernameControl.touched && usernameControl.hasError('minlength')) {
        <app-error message="Username must contain min ">
          {{usernameControl.errors?.['minlength'].requiredLength}}
        </app-error>
        } @else if (usernameControl.touched && usernameControl.hasError('onlyLathinLetters')) {
        <app-error message="Only latin numbers "> </app-error>
        }
        <input formControlName = "firstName" type="text" id="FirstName" placeholder="First Name">
        <input formControlName = "lastName" type="text" id="LastName" placeholder="Last Name">
        <input formControlName = "email" type="email" id="Email" placeholder="Email">
        <input formControlName = "password" type="password" id="password" placeholder="Password">
        <!-- <input type="password" id="confirmpassword" placeholder="Confirm Password"> -->
        <div class="buttoncont">
            <button (click)="loginCheck()">login</button>
            <button [disabled] = "userForm.invalid" (click)="register()">register</button>
        </div>
    </form>
</div>
