<div class="wrapper">
  <div class="form-section">
    <form [formGroup] = "userForm">
      <h1>REGISTER</h1>
      <input 
       [ngClass]="{
          'input-error': usernameControl.touched && usernameControl.invalid
        }" formControlName = "username" type="text" id="username" placeholder="Username">
      @if(usernameControl.touched && usernameControl.hasError('required')){
          <app-error message = "This field is required"></app-error>
      } @else if (usernameControl.touched && usernameControl.hasError('minlength')) {
      <app-error message="Username must contain min ">
        {{usernameControl.errors?.['minlength'].requiredLength}}
      </app-error>
      } @else if (usernameControl.touched && usernameControl.hasError('onlyLathinLetters')) {
      <app-error message="Only latin numbers "> </app-error>
      }
      <input
        [ngClass]="{
          'input-error': firstNameControl.touched && firstNameControl.invalid
        }" formControlName = "firstName" type="text" id="FirstName" placeholder="First Name">
        @if (firstNameControl.touched && firstNameControl.hasError('required')) {
          <app-error message="This field is required"></app-error>
          } @else if (firstNameControl.touched &&
          firstNameControl.hasError('minlength')) {
          <app-error
            [message]="'First name must contain min ' + firstNameControl.errors?.['minlength'].requiredLength"
          />
        }
      <input
        [ngClass]="{
          'input-error': lastNameControl.touched && lastNameControl.invalid
        }" formControlName = "lastName" type="text" id="LastName" placeholder="Last Name">
        @if (lastNameControl.touched && lastNameControl.hasError('required')) {
          <app-error message="This field is required"></app-error>
          } @else if (lastNameControl.touched &&
          lastNameControl.hasError('minlength')) {
          <app-error
            [message]="'Last name must contain min ' + lastNameControl.errors?.['minlength'].requiredLength"
          />
        }
      <input 
        [ngClass]="{
          'input-error': emailControl.touched && emailControl.invalid
        }" formControlName = "email" type="email" id="Email" placeholder="Email">
        @if (emailControl.touched && emailControl.hasError('required')) {
          <app-error message="This field is required"></app-error>
        }
      <input 
        [ngClass]="{
          'input-error': passwordControl.touched && passwordControl.invalid
        }"formControlName = "password" type="password" id="password" placeholder="Password">
        @if (passwordControl.touched && passwordControl.hasError('reqrequireduierd')) {
          <app-error message="This field is required"></app-error>
        }
      <!-- <input type="password" id="confirmpassword" placeholder="Confirm Password"> -->
      <div class="buttoncont">
          <button (click)="login()">login</button>
          <button (click)="register()">register</button>
      </div>
    </form>
  </div>
  <div class="image-section">

  </div>
    
</div>
